.card {
    margin-top: 12px;
    max-width: 400px;
    font-size: 18px;
}

.card-header {
    display: flex;
    justify-content: center;
}

.card-content {
    text-align: center;
}

.card-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.warning {
    margin-bottom: 8px;
    color: rgb(255, 56, 56);
}